
$color-primary: rgb(179, 0, 192);
$color-violet:rgb(250, 237, 251);
$color-dark-primary:rgb(126, 0, 135);
$color-lighter-grey:rgb(249, 249, 249);
$color-grey: grey;
$color-light-grey:rgb(214, 214, 214);
$color-white: white;
$color-dark-grey:rgb(71, 71, 71);